# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
TLMVPSP/TLMVPSP/Debug/vc140.idb
*.lastbuildstate
TLMVPSP/TLMVPSP/Debug/TLMVPSP.tlog/link.write.1.tlog
*.tlog
TLMVPSP/TLMVPSP/Debug/TLMVPSP.log
*.opendb
TLMVPSP/Debug/TLMVPSP.ilk
*.suo
TLMVPSP/.vs/TLMVPSP/v14/.suo
*.db
TLMVPSP/TLMVPSP.VC.db
